h3 {
    color: #ff148d;
    position:relative;
    text-align:left;
}

h3 span {
    display:inline-block;
    padding:0 10px;
    background:#fff;
}

h3:before {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    left:0;
    right:0;
    top:50%;
    height:1px;
    background:#ccc;
}

a { 
    color: #0562c5;
}

p {
    font-size: 12px;
}

ul {
    font-size: 12px;
}