h2 {
    color: #FE2E9A;
    position:relative;
    text-align:left;
}

h2 span {
    display:inline-block;
    padding:0 10px;
    background:#fff;
}

h2:before {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    left:0;
    right:0;
    top:50%;
    height:1px;
    background:#ccc;
}

a { 
    color: #007bff;
}

p {
    font-size: 16px;
}

ul {
    font-size: 16px;
}